# Ignore Next.js build output
/.next/

# Ignore Node.js modules
node_modules/

# Ignore environment-specific configuration files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore build artifacts and temporary files
/.pnp/
.pnp.js
.next
out
dist

# Ignore cache directories
.cache/